body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}
.main-container{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Main content section */

.main-content-section{
padding: 100px 90px;
}
.main-content-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;

}

/* About me section */

.about-me-section{
margin: 0 0 40px 0;        
}
.about-me-profession{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 20px 0;
}
.about-me-name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin: 0 0 25px 0;
}
.about-me-discription{
    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
/* My projiects section */

.My-projects-section{
    margin: 0 0 50px 0;
}
.my-projects-list{
    padding: 0 0 0 18px;
}

.my-projects-item{
    color: #000000;
    font-weight: 700;
}
.my-projects-link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.my-projects-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 7px;
}
.my-projects-brecket{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
/* My work experience */

.My-work-experience-company{
   color: #FB6D3A;
}
.My-work-experience-position{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
}
.My-work-experience-period{
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: #A8A8A8;
margin: 0 0 10px 0;
}
.My-work-experience-divider{
    color: #000000;
}
.My-work-experience-duties{
padding: 0 0 0 18px;
}
.My-work-experience-duty{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;    
}
.My-work-experience-company-block{
margin: 0 15px 0 0;
}

.education-manegment{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

 /* sidebar-section */

.Sidebar-sections{width: 370px;
    background-color: #1E2939;
    width: 370px;
    padding: 40px 0;
    
}
.Contacts-section,
.tech-skill-section,.soft-skill-section{
 margin: 50px 0 0 40px ;
}
.sidebar-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
/* contakts section */
.Contacts-section-type{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 7px;
}
.Contacts-section-link{
    color: #575F6B ;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
/* tech skills section */
.tech-skill-list{
padding-left: 17px;
}
.tech-skill-item{
color: #FB6D3A;
}
.tech-skill-item-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
/* soft skills section */
.soft-skill-list{
padding-left: 17px;
}
.soft-skill-item{
color: #FB6D3A;
}
.soft-skill-item-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}