body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont,'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F5F7FA;
}

 code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

img {
    display: block;
    /* max-width: 100%; */
    height: auto;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0; }


/* ==================================================================== */

.main-container{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Main content section */

.main-content-section{
padding: 100px 90px;
}
.main-content-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;

}

/* About me section */

.about-me-section{
margin: 0 0 40px 0;        
}
.about-me-profession{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 20px 0;
}
.about-me-name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color:#F5F7FA;
    margin: 0 0 25px 0;
    background-color: #1E2939;
    padding: 10px 24px;
}
.about-me-discription{
    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
/* My projiects section */

.My-projects-section{
    margin: 0 0 50px 0;
}
.my-projects-list{
    padding: 0 0 0 18px;
}

.my-projects-item{
    color: #000000;
    font-weight: 700;
}
.my-projects-link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.my-projects-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 7px;
}
.my-projects-brecket{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
/* My work experience */

.My-work-experience-company{
   color: #FB6D3A;
}
.My-work-experience-position{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
}
.My-work-experience-period{
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: #A8A8A8;
margin: 0 0 10px 0;
}
.My-work-experience-divider{
    color: #000000;
}
.My-work-experience-duties{
padding: 0 0 0 18px;
list-style:inside;
}
.My-work-experience-duty{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;    
}
.My-work-experience-company-block{
    margin: 0 15px 0 0;
}

.education-manegment{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

 /* sidebar-section */

.Sidebar-sections{width: 370px;
    width: 370px;
    background-color: #1E2939;
    padding: 40px 0;
    
}
.Contacts-section,
.tech-skill-section,.soft-skill-section{
 margin: 50px 0 0 40px ;
}
.sidebar-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

/* contakts section */

.Contacts-section-link{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #575F6B ;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    margin-top: 10px;
}

.Contacts-section__icon {
    margin-right: 10px;
    fill: #ffffff;
}
/* tech skills section */

.tech-skill-item-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

/* soft skills section */

.soft-skill-item-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

/* icons */

.skill-icon{
    fill: #FB6D3A;
    width: 8px;
    height: 8px;
    padding-right: 12px;
}